.grid1 {
    display: grid;
    height: 90vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.7fr;
    grid-template-areas:
      "carrousel carrousel"
      "presentation objectif"; 
    gap: 1rem 1rem;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

#carrousel { 
    grid-area: carrousel; 
    overflow: hidden;
}

#carrousel .carousel,
#carrousel .carousel-inner,
#carrousel .carousel-item {
    height: 100%;
}

#carrousel .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#presentation { grid-area: presentation; }
#objectif { grid-area: objectif; }

:root{
    --main-radius:5px;
    --main-padding:5px;
  }
  
.block {
    background:#565656;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    color: white;
  }