.grid3 {
    display: grid;
    height: calc(100vh - 80px);
    width: 100%;
    grid-template-columns: 1fr 0.02fr 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    grid-template-areas:
      "titre titre titre"
      "presentation1 barre presentation2"; 
    gap: 1rem 1rem;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

#titre { grid-area: titre; }
#presentation1 { grid-area: presentation1; }
#barre { grid-area: barre; }
#presentation2 { grid-area: presentation2; }s

:root{
    --main-radius:5px;
    --main-padding:5px;
  }
  
.block {
    background:#565656;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    color: white;
  }